{% extends "base.html" %}
{% block content %}
<div class="flex justify-around">
<div class="p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 w-1/4 m-5">
    <div class="mx-auto">
        <img class="mr-4 w-full" src="{{ book.jaquette }}" alt="" aria-hidden="true" />
    </div>
    <div class="flex items-center ">
        <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zm0 14a6 6 0 110-12 6 6 0 010 12zm-1-5a1 1 0 112 0v3a1 1 0 11-2 0v-3zm1-5a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
            </svg>
        </div>
        <div>
            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                {{ book.title }}
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                {{ book.author }}
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                Librairie : {{ book.Librairie }} - {{ librairie.adresse }}
            </p>
            {% if book.statut %}
            <p>Date de retour le : {{book.date_retour}}</p>
            {% else %}
            <div class="flex flex-col">
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">Livre disponnible</p>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">Veuillez vous rapprochez de votre librairie</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if librairie.id == request.user.id or user.is_superuser%}
<div class="card bg-white p-3 h-full m-5 w-1/4">
    <h1 class="text-xl text-center my-5">Panel Librairie</h1>
    <p class="mt-5 text-center"><a href="/books/loan/{{librairie.id}}" class="btn btn-primary">Lancer un emprunt</a></p>
</div>
{% endif %}
</div>
{% endblock %}