{% extends "base.html" %}

{% block content %}
    <h1 class="text-xl text-center text-white my-5">Ajout d'un livre</h1>

    <form class="card bg-white p-3 m-5 w-1/2 mx-auto" action="/books/new/" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <label class="label-text" for="title">Titre</label>
        <input class="input w-full mb-2" type="text" name="title" id="title">
        <label class="label-text" for="author">Auteur</label>
        <input class="input w-full mb-2" type="text" name="author" id="author">
        <label class="label-text" for="jaquette">Jaquette</label>
        <input class="input w-full mb-2" type="text" name="jaquette" id="jaquette">
        <label class="label-text" for="editeur">Editeur</label>
        <input class="input w-full mb-2" type="text" name="editeur" id="editeur">
        <label class="label-text" for="collection">Collection</label>
        <input class="input w-full mb-2" type="text" name="collection" id="collection">
        <label class="label-text" for="genre">Genre</label>
        <input class="input w-full mb-2" type="text" name="genre" id="genre">
        <label class="label-text" for="librairie">Librairie</label>
        <select class="input w-full mb-2" name="librairie" id="librairie">
            {% for librairie in librairies %}
                <option value="{{librairie.id}}">{{librairie.nom}}</option>
            {% endfor %}
        </select>
        <input class="btn" type="submit" value="Ajouter">
    </form>
{% endblock %}