{% extends "base.html" %}

{% block content %}
    <form action="#" method="get" class="container p-6 mx-auto">
        <h1 class="text-xl text-white">Rechercher un livre</h1>
        <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-2 justify-center">
            <div class="form-control w-full max-w-xs">
              <label class="label" for="title">
                <span class="label-text">Titre</span>
              </label>
              <input
                type="text"
                name="title"
                id="title"
                placeholder="Entrez un titre..."
                class="input input-bordered w-full max-w-xs"
                value="{{ request.GET.title }}"
              />
            </div>

            <div class="form-control w-full max-w-xs">
              <label class="label" for="author">
                <span class="label-text">Filtrer par auteur</span>
              </label>
              <select class="select select-bordered" id="author" name="author">
                <option disabled selected>Choisissez un auteur</option>
                {% for author in authors %}
                    {% if request.GET.author == author %}
                        <option value="{{ author }}" selected>{{ author }}</option>
                    {% else %}
                        <option value="{{ author }}">{{ author }}</option>
                    {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="form-control w-full max-w-xs">
                <label class="label" for="genre">
                    <span class="label-text">Filtrer par genre</span>
                </label>
                <select class="select select-bordered" id="genre" name="genre">
                    <option disabled selected>Choisissez un genre</option>
                    {% for genre in genres %}
                        {% if request.GET.genre == genre %}
                            <option value="{{ genre }}" selected>{{ genre }}</option>
                        {% else %}
                            <option value="{{ genre }}">{{ genre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-control">
                <label class="label cursor-pointer" for="dispo">
                    <span class="label-text">Disponible ?</span>
                </label>
                <input
                    type="checkbox"
                    class="toggle"
                    name="dispo"
                    id="dispo"
                    {% if request.GET.dispo %}
                    checked
                    {% endif %}
                />
            </div>
        </div>
        <div class="flex items-center py-6 gap-4">
            <button type="submit" class="btn btn-primary">Filtrer</button>
            <button
                type="reset"
                class="btn btn-outline"
                onclick="document.location.href='{{ request.path }}'"
            >Réinitialiser</button>
        </div>
    </form>


    <div class="container grid px-6 mx-auto py-6">
        <div class="flex justify-between items-center mb-4 xl:flex-row md:flex-col xs:flex-col">
            <h1 class="text-xl text-white">Votre recherche pour <b>{{ search }}</b> : </h1>
            {% include 'components/paginator/paginator.html' with paginator=books %}
            <small class="text-white">Nombre de résultats : {{ books.paginator.count }}</small>
        </div>

        {% if books %}
            {% include 'components/books/cards_grid.html' with books=books %}
            {% include 'components/paginator/paginator.html' with paginator=books %}
        {% else %}
            <p>Pas de livre correspondant a votre recherche</p>
        {% endif %}
    </div>
{% endblock %}