{% extends "base.html" %}

{% block content %}
    <h1>Modification du livre {{book.title}}</h1>

    <form action="/books/edit/{{book.id}}/" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <label for="title">Titre</label>
        <input type="text" name="title" id="title" value="{{book.title}}">
        <label for="author">Auteur</label>
        <input type="text" name="author" id="author" value="{{book.author}}">
        <label for="jaquette">Jaquette</label>
        <input type="text" name="jaquette" id="jaquette" value="{{book.jaquette}}">
        <label for="editeur">Edteur</label>
        <input type="text" name="editeur" id="editeur" value="{{book.editeur}}">
        <label for="collection">Collection</label>
        <input type="text" name="collection" id="collection" value="{{book.collection}}">
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre" value="{{book.genre}}">
        <label for="librairie">Librairie</label>
        <select name="librairie" id="librairie">
            {% for librairie in librairies %}
                <option value="{{librairie.id}}">{{librairie.nom}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Modifier">
    </form>
{% endblock %}