{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<h1></h1>
<div class="card lg:card-side bg-white shadow-xl w-4/5 my-5 mx-auto">
    <figure>
        <div id="map" style="width: 500px; height: 300px;" class="m-5"></div>
    </figure>
    <div class="card-body">
        <h2 class="card-title">{{librairie.nom}}</h2>
        <p>Ville : {{librairie.ville}}</p>
        <p>Rue : {{librairie.adresse}}</p>
        <p>Horaires d'ouvertures : 9h-12h / 14h-18h</p>
        <h3 class="card-title">Nos contacts</h3>
        <div class="card-actions justify-end">
            <p>Téléphone : {{librairie.telephone}}</p>
            <p>Email : {{librairie.email}}</p>
        </div>
    </div>
</div>
<div>
    <h2 class="text-xl text-center my-2 text-white">Nos livres</h2>
    <div class="flex flex-wrap justify-around align-items-center">
        {% if books %}
        {% for book in books %}
            <div class="card lg:card-side bg-white shadow-xl w-2/7 my-2">
                <figure>
                    <img src="{{book.jaquette}}" class="mx-2" alt="Image du livre {{book.title}}">
                </figure>
                <div class="card-body">
                    <h2 class="card-title">{{book.title}}</h2>
                    <p>Auteur : {{book.author}}</p>
                    <p>Genre : {{book.genre}}</p>
                    <p>Editeur : {{book.editeur}}</p>
                    <p>Collection : {{book.collection}}</p>
                    {% if book.statut %}
                    <p>Indisponible</p>
                    {% else %}
                    <p>Disponible</p>
                    {% endif %}
                    <div class="card-actions justify-end">
                        <a href="/book/detail/{{book.id}}/" class="btn btn-primary">Voir le livre</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <p>Aucun livre n'est disponible pour le moment</p>
        {% endif %}
    </div>
</div>
<script>
    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var geocoder = L.Control.Geocoder.nominatim();
    geocoder.geocode("{{librairie.adresse}},{{librairie.ville}}", function (results) {
        var r = results[0];
        if (r) {
            map.fitBounds(r.bbox);
            L.marker(r.center).addTo(map)
                .bindPopup(r.html || r.name).openPopup();
        }
    });

</script>
{% endblock %}