{% extends "base.html" %}

{% block content %}
    <h1>Modification de la librairie {{librairie.nom}}</h1>
    <form action="/librairie/edit/{{librairie.id}}/" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom" value="{{librairie.nom}}">
        <label for="adresse">Adresse</label>
        <input type="text" name="adresse" id="adresse" value="{{librairie.adresse}}">
        <label for="telephone">Téléphone</label>
        <input type="text" name="telephone" id="telephone" value="{{librairie.telephone}}">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="{{librairie.email}}">
        <input type="submit" value="Modifier">
    </form>
{% endblock %}